.pageLayout {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.nav {
  position: fixed;
  top: calc(var(--layout-top-strip-height) + var(--main-pad-block, var(--space-5)));
  left: var(--layout-main-pad-inline);
  width: 13.75rem;
  z-index: var(--z-popover);
}

.content {
  margin-left: calc(13.75rem + 3rem);
  min-width: 0;
  max-width: calc(70rem - 13.75rem - 3rem);
}

@media (max-width: 720px) {
  .nav {
    position: static;
    width: 100%;
  }

  .content {
    margin-left: 0;
    max-width: 100%;
  }
}
